<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row ">
  <div class="col-xs-12 col-sm-8 form">
    <div class="field">
      <%= f.label :lastname %><br>
      <%= f.text_field :lastname %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 form">
    <div class="field">
      <%= f.label :firstname %><br>
      <%= f.text_field :firstname %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 form">
    <div class="field">
      <%= f.label :phone %><br>
      <%= f.text_field :phone %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 form">
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 form">
    <div class="field">
      <%= f.label :role %><br>
      <%= f.number_field :role %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 form">
    <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %><br />
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 form">
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
