<p id="notice"><%= notice %></p>

<div class="row ">
  <div class="col-xs-12 .col-md-8">
    <h1 class="title">Liste d'utilisateurs</h1>
  </div>
</div>
<div class="row ">
       <div class="col-xs-6 col-sm-4 text-center">
          <%= link_to "Nouvel utilisateur", new_user_path, :class => "btn btn-default btn-md" %>
       </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Adresse</th>
      <th>Email</th>
      <th>Métier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.lastname %></td>
        <td><%= user.firstname %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <% if user.role == 0 %>
          <td>Artisan</td>
        <% else %>
          <td>Client</td>
        <% end %>
        <td><%= link_to 'Visualiser', user %></td>
        <td><%= link_to 'Modifier', edit_user_path(user) %></td>
        <td><%= link_to 'Supprimer', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

