<p id="notice"><%= notice %></p>
<div class="row ">
  <div class="col-xs-12 .col-md-8">
    <h1 class="title">Mon profil</h1>
  </div>
</div>
<div class="row ">
  <div class="col-xs-12 col-sm-8 form">
    <p>
      <strong>lastname:</strong>
      <%= @user.lastname %>
    </p>
  </div>
  <div class="col-xs-12 col-sm-8 form">
  <p>
    <strong>firstname:</strong>
    <%= @user.firstname %>
  </p>
  </div>
  <div class="col-xs-12 col-sm-8 form">
    <p>
      <strong>phone:</strong>
      <%= @user.phone %>
    </p>
  </div>
  <div class="col-xs-12 col-sm-8 form">
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
  </div>
  <div class="col-xs-12 col-sm-8 form">
    <p>
      <strong>Role:</strong>
     <% if  @user.role == 0 %>
         Artisan
     <% else %>
         Client
      <% end %>
    </p>
  </div>
</div>
<div class="row ">
       <div class="col-xs-6 col-sm-4 text-center">
         <%= link_to "Modifier", edit_user_path(@user), :class => "btn btn-default btn-md" %>
          <%= link_to "Retour", users_path, :class => "btn btn-default btn-md" %>
       </div>
</div>

