<p id="notice"><%= notice %></p>

<h1>Vos activités</h1>

<table>
  <thead>
    <tr>
      <th>n° activité</th>
      <th>n° artisan</th>
      <th>Métier</th>
      <th>Prestations</th>
      <th>Description</th>
      <th>Images</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.id_activity %></td>
        <td><%= activity.id_artisan %></td>
        <td><%= activity.metier %></td>
        <td><%= activity.prestations %></td>
        <td><%= activity.description %></td>
        <td><%= activity.images %></td>
        <td><%= link_to 'Visualiser', activity %></td>
        <td><%= link_to 'Éditer', edit_activity_path(activity) %></td>
        <td><%= link_to 'Supprimer', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle activité', new_activity_path %>
