<p id="notice"><%= notice %></p>

<div class="row ">
  <div class="col-xs-12 .col-md-8">
    <h1 class="title">Liste d'activitités</h1>
  </div>
</div>
<div class="row ">
       <div class="col-xs-6 col-sm-4 text-center">
          <%= link_to "Nouvelle activité", new_activity_path, :class => "btn btn-default btn-md" %>
       </div>
</div>
<table  class="table table-striped">
  <thead>
    <tr>
      <th>Métier</th>
      <th>Prestations</th>
      <th>Description</th>
      <th>Images</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.job %></td>
        <td><%= activity.services %></td>
        <td><%= activity.description %></td>
        <td><%= activity.images %></td>
        <td><%= link_to 'Visualiser', activity %></td>
        <td><%= link_to 'Éditer', edit_activity_path(activity) %></td>
        <td><%= link_to 'Supprimer', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

